body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    border: none;
}
.share{    
    float: right;
}
#home {
    padding: 10px;
    border: solid;
    border-color: transparent;
    border-radius: 50%;
}

#home:hover {
    border-color: #20C20E;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: none;
}

.tab-links {
    color: white;
    line-height: 3%;
    padding: 10px;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 4px;
}

.tab-links:hover {
    border-color: #84afd3;
}

.tab-links:active {
    color: #20C20E;
}

article {
    display: inline-block;
    text-align: center;
    flex: 2;
    width: fit-content;
    overflow-y: auto;
    height: fit-content;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

aside {
    background-color: black;
    flex: 1;
    overflow-y: auto;
    height: fit-content;
    border: solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    padding: 10px;
    margin-top: 5px;
}

.profile {
    margin: 10px;
    display: inline-block;
    width: 70%;
}

.profile-picture-small {
    margin: auto;
    padding-right: 20px;
    width: 20%;
    height: 20%;
    display: inline-block;
    padding: 5px;
}

.profile-picture-big {
    margin: auto;
    padding-right: 20px;
    width: 70%;
    height: 70%;
    display: inline-block;
    padding: 5px;
}

.infos {
    color: red;
}

.intro {
    display: inline-block;
    color: #20C20E;
    font-style: normal;
    font-family: monospace;
    margin: auto;
    width: max-content;
    text-align: left;
    padding-bottom: 20px;
    overflow: auto;
    font-size: larger;
}

.invisible-line {
    position: fixed;
}

hr {
    margin: auto;
    width: 10%;
    border: dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-width: 8px;
    padding-top: 50px;
}

.cards {
    align-items: center;
    width: 45%;
    height: 150px;
    max-height: fit-content;
    display: inline-block;
    border: solid;
    border-color: lightgreen;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    overflow: hidden;
    text-align: left;
    touch-action: pan-y;
    overflow: hidden;
}

.cards:hover {
    height: fit-content;
    height: intrinsic;
    height: -moz-max-content;
    height: -webkit-max-content;
    transition: all 0.3s ease-out;
    padding: 10px;
}

.card-text {
    height: fit-content;
    padding: 10px;
    width: auto;
    margin: 0 0;
}

h3 {
    margin: 0;
    padding-top: 0;
}

h4 {
    text-align: center;
}

p {
    margin: 0;
    padding-top: 0;
    line-height: 1.1;
    color: #20C20E;
    font-family: monospace;
}

.star-emoji {
    float: left;
}

.list-item {
    overflow: hidden;
}
.footer-link{
    color: white;
}
footer{    
    margin: 25px auto;
    padding: 40px;
    font-size: large;
}


/* Style settings of the table in the tool.html page */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
    border-radius: 5px;
    background-color: rgba(24, 27, 31, 0.747);
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-ul38 {
    position: -webkit-sticky;
    position: relative;
    text-align: left;
    top: -1px;
    vertical-align: top;
    will-change: transform;
    color: white;
    border-color: white;
    padding-bottom: 5px;
    border-style: solid;
    font-size: 16px;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}

#image {
    width: 800px;
    height: 500px;
}

.inputLabel {
    padding: 5px;
    width: 90px;
    text-align: right;
}

.inputField {
    width: 100px;
}

#tw6 {
    color: white;
}

#kgs {
    color: white;
}
.cost-calc{
    margin: 20px auto;
    padding: 15px;
    width: fit-content;
    border: solid;
    border-color: teal;
    border-radius: 5px;

}
.labels{
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
}