body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    border: none;    
    
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: none;    
}
.tab-links{
    color: white;
   line-height: 3%;
   padding: 10px;
}
.tab-links:hover{
    border: solid;
    border-color: white;
    border-width: 2px;    
    border-radius: 4px;
   
}
.tab-links:active{
    color: #20C20E;
}
article {
    text-align: center;
    flex: 2;
    width: fit-content;
    overflow-y: auto;
    height: fit-content;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

aside {
    background-color: black;
    flex: 1;
    overflow-y: auto;
    height: fit-content;
    border: solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    padding: 10px;
    margin-top: 5px;
}

.profile {
    margin: 10px;
    display: inline-block;
    width: 70%;
}

.profile-picture-small {
    margin: auto;
    padding-right: 20px;
    width: 20%;
    height: 20%;
    display: inline-block;
    padding: 5px;
    
}
.profile-picture-big{
    margin: auto;
    padding-right: 20px;
    width: 70%;
    height: 70%;
    display: inline-block;
    padding: 5px;
}

.infos {
    color: red;
}

.intro {
    display: inline-block;
    color: #20C20E;
    font-style: normal;
    font-family: monospace;
    margin: auto;
    width: max-content;
    text-align: left;   
    padding-bottom: 20px;
    overflow: auto;
    font-size: larger;
}

.invisible-line {
    position: fixed;
}

hr {
    margin: auto;
    width: 10%;
    border: dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-width: 8px;
    padding-top: 50px;
}

.cards {
    align-items: center;
    width: 45%;
    height: 150px;
    max-height: fit-content;
    display: inline-block;
    border: solid;
    border-color: lightgreen;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    overflow: hidden;
    text-align: left;
    touch-action: pan-y;
    overflow: hidden;
}

.cards:hover {
  height: fit-content;
  transition: all 0.3s ease-out;
  
   
    padding: 10px;
}

.card-text {
    height: fit-content;
    padding: 10px;
    width: auto;
    margin: 0 0;
}

h3 {
    margin: 0;
    padding-top: 0;
}

h4 {
    text-align: center;
}

p {
    margin: 0;
    padding-top: 0;
    line-height: 1.1;
    color: #20C20E;
    font-family: monospace;
}

.star-emoji {
    float: left;
}

.list-item {
    overflow: hidden;
}